<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>$archiver</key>
	<string>NSKeyedArchiver</string>
	<key>$objects</key>
	<array>
		<string>$null</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>2</integer>
			</dict>
			<key>NS.time</key>
			<real>473030394.57366598</real>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSDate</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSDate</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>NS.keys</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>8</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>9</integer>
				</dict>
			</array>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>12</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>19</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>20</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>24</integer>
				</dict>
			</array>
		</dict>
		<string>gatewayDeviceNodes</string>
		<string>createTime</string>
		<string>internetNode</string>
		<string>baseStationNodes</string>
		<string>interfaceInfo</string>
		<string>primaryBaseStationNodes</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>NS.keys</key>
			<array/>
			<key>NS.objects</key>
			<array/>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSMutableDictionary</string>
				<string>NSDictionary</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSMutableDictionary</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>2</integer>
			</dict>
			<key>NS.time</key>
			<real>473030394.40947503</real>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>18</integer>
			</dict>
			<key>children</key>
			<dict>
				<key>CF$UID</key>
				<integer>15</integer>
			</dict>
			<key>interface</key>
			<dict>
				<key>CF$UID</key>
				<integer>17</integer>
			</dict>
			<key>ipv4Address</key>
			<integer>0</integer>
			<key>ipv4Mask</key>
			<integer>0</integer>
			<key>lastArchiveFileHash</key>
			<integer>0</integer>
			<key>parent</key>
			<dict>
				<key>CF$UID</key>
				<integer>0</integer>
			</dict>
			<key>version</key>
			<dict>
				<key>CF$UID</key>
				<integer>14</integer>
			</dict>
		</dict>
		<integer>1</integer>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>16</integer>
			</dict>
			<key>NS.objects</key>
			<array/>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSMutableArray</string>
				<string>NSArray</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSMutableArray</string>
		</dict>
		<string>en0</string>
		<dict>
			<key>$classes</key>
			<array>
				<string>TopoInternetNode</string>
				<string>TopoDeviceNode</string>
				<string>TopoNode_SettingsProtocol</string>
				<string>TopoNode</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>TopoInternetNode</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>NS.keys</key>
			<array/>
			<key>NS.objects</key>
			<array/>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>NS.keys</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>21</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>22</integer>
				</dict>
			</array>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>23</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>17</integer>
				</dict>
			</array>
		</dict>
		<string>displayName</string>
		<string>interfaceName</string>
		<string>Wi-Fi</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>NS.keys</key>
			<array/>
			<key>NS.objects</key>
			<array/>
		</dict>
	</array>
	<key>$top</key>
	<dict>
		<key>archiveVersion</key>
		<integer>9</integer>
		<key>createTime</key>
		<dict>
			<key>CF$UID</key>
			<integer>1</integer>
		</dict>
		<key>currentTopoInfo</key>
		<dict>
			<key>CF$UID</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>$version</key>
	<integer>100000</integer>
</dict>
</plist>
