<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Address Book (Cards, Groups, Plug-Ins)</string>
	<string>0.3</string>
	<string>~/Library/Address Book Plug-Ins</string>
	<string>~/Library/Application Support/AddressBook</string>
	<string>~/Library/Preferences/AddressBookMe.plist</string>
	<string>~/Library/Preferences/com.apple.AddressBook.plist</string>
</array>
</plist>
