<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>iCal (Alarms, Events, To Do, Calendars)</string>
	<string>0.3</string>
	<string>~/Library/Calendars</string>
	<string>~/Library/Preferences/com.apple.iCal.alarmsCache.plist</string>
	<string>~/Library/Preferences/com.apple.iCal.AlarmScheduler.plist</string>
	<string>~/Library/Preferences/com.apple.iCal.plist</string>
	<string>~/Library/Preferences/com.apple.iCal.sources.plist</string>
	<string>~/Library/Application Support/iCal</string>
</array>
</plist>
