<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>iMovie (Preferences)</string>
	<string>0.2</string>
	<string>~/Library/iMovie</string>
	<string>~/Library/Preferences/com.apple.iMovie7.plist</string>
</array>
</plist>
