<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>iTunes</string>
	<string>0.1</string>
	<string>~/Library/iTunes</string>
	<string>~/Library/Preferences/com.apple.iTunes.eq.plist</string>
	<string>~/Library/Preferences/com.apple.iTunes.plist</string>
</array>
</plist>
