<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Mail (Accounts, Mailboxes, Messages)</string>
	<string>0.3</string>
	<string>~/Library/Mail</string>
	<string>~/Library/Preferences/com.apple.mail.plist</string>
	<string>~/Library/Preferences/com.apple.mail.searchhistory</string>
	<string>~/Library/Mail Downloads</string>
</array>
</plist>
